body {
    margin: 0;
    padding: 0;
    background-color: #1C1C1C;
    color: white;
}

body *{
    font-family: 'Inter', sans-serif;
    color: white;
}

img{
    width: 100%;
}



/******************
    TYPOGRAPHY
******************/

.heading,
.redirect,
.message h3,
.movie-synopsis,
.movie-length,
.movie-genres{
    margin: 0;
}

.heading{
    font-weight: 900;
    font-size: 2.5rem;
}

.redirect,
.message a{
    text-decoration: none;
}

.redirect{
    font-weight: 700;
}

.redirect:hover,
.redirect:focus{
    text-shadow: 0 0 5px white;
}

.searchbar-input{
    color: #9CA3AF;
}

.message p{
    color: #2E2E2F;
    font-weight: 700;
    margin-top: 0.25em;
}

.message h3{
    color: #787878;
    font-size: 1.125rem;
}

.movie-title{
    font-weight: 500;
    font-size: 1.125rem;
}

.movie-rating,
.movie-length,
.movie-genres,
.movie-watchlist-btn{
    font-weight: 400;
    font-size: 0.75rem;
}

.movie-synopsis{
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5em;
    color: #A5A5A5;
}



/**************
    LAYOUT
**************/

.container{
    max-width: 1000px;
    margin: 0 auto;
    background: #121212;
    min-height: 100vh;
}

.flex-row,
.flex-column{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.heading-section,
.movie,
.movie-inner-container,
.movie-watchlist-btn
{
    justify-content: space-between;
}

.navigation,
.movies-container,
.message a,
.movie-inner-container,
.movie-watchlist-btn{
    align-items: center;
}



/* HEADER */

.heading-section{
    height: 208px;
    background-image: url("images/bg.png");
    background-position: cover;
    background-position: center;
    background-color: #111;
}

.navigation{
    margin-top: 4em;
    justify-content: space-around;
}

.searchbar{
    justify-content: center;
}

.searchbar-input,
.searchbar-btn{
    border: none;
    border-radius: 5px;
    padding: 0.75em 2.5em;
    font-weight: 500;
    font-size: 0.9rem;
}

.searchbar-input{
    padding-left: 3em;
    background-color: #1C1C1C;
    background-image: url("images/glass.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 45%;
}

.searchbar-btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #4B4B4B
}

.searchbar-btn:hover,
.searchbar-btn:focus{
    background-color: #6B6B6B;
    cursor: pointer;
}

@media (max-width: 450px){
    .heading-section{
        padding: 0;
        margin: 0
    }
    
    .navigation{
        flex-direction: column;
    }
    
    .redirect{
        margin-top: 1em;
    }
    
}



/* BODY */

.movies-container{
    width: 80%;
    margin: 2em auto 0;
    flex-grow: 1;
    position: relative;
}

.message{
    position: absolute;
    bottom: 50%;
    text-align: center;
    max-width: 350px;
}

.message img{
    width: 50%;
}

.message a{
    width: max-content;
    margin: 0 auto;
    padding: 1em 0;
}

.movie{
    width: 100%;
    padding: 1.5em 0;
    border-bottom: 1.5px solid #E5E7EB ;
}

.movie:last-child{
    border-bottom: none;
}

.movie-poster{
    width: 25%;
}

.movie-info{
    width: 70%;
}

.movie-title-container *,
.message a *{
    display: inline;
}

.movie-star-icon
{
    width: 0.8em;
}


.movie-watchlist-btn{
    background: none;
    border: none;
    padding: 1em 0;
}

.movie-watchlist-btn-icon,
.message a img{
    width: 1.5em;
    padding-right: 0.5em;
}

.movie-watchlist-btn:hover,
.movie-watchlist-btn:focus{
    cursor: pointer;
    scale: 1.05;
}
